body {
    background-color: grey;
}

h1 {
    color: #ffffff
}

#headers {
    font-family: "Helvetia", cursive;
}

input {
    width: 70%;
    margin: 10px 10px 10px 0;
}

div {
    background-image: linear-gradient(45deg, rgb(255, 255, 100, 0), rgb(135, 135, 135));
}

.search {
    margin: 10px;
    padding: 5px 15px 15px 20px;
    border-radius: 10px;
    background-color: #f1f3f4;
}